.lFullWrap {
    z-index: 3;
    position: fixed;
    height: 100%; 
    width: auto;
}

.imgLogo {
    position: fixed;
    height: 30vw;
    width: auto;
}

@media only screen and (max-width: 600px) {

}