.tbFullWrap {
    display: flex;
    align-items:flex-start;
    height: 100%;
    width: 100%;
}

.tbLogo {
    position: absolute;
    height: 15vh;
    width: auto;
}

.tbMenu {
    width: auto;
    height: 100%;
    position: sticky;
    left: 100%;
}