#tbFullWrap {
    display: flex;
    align-items:flex-start;
    height: 100%;
    width: 100%;
}

#tbLogo {
    height: 200%;
    width: auto;
}

#tbMenu {
    width: 10%;
    height: 100%;
    position: absolute;
    right: 0px;
}