.center-ver-hor {
    background-color: transparent;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}

.zFront {
    z-index: 1;
}