div {
    outline: 1px solid black;
}

#home-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
}

#topbar-wrap {
    width: 100%;
    height: 10%;
}

#navbar-wrap {
    width: 100%;
    height: 10%;
}

#content-wrap {
    width: 100%;
    height: auto;
}

#bottombar-wrap {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
}

#colA-showbooking-wrap {
    float: left;
    margin-left: 5%;
    width: 30%;
    height: 100%;
}

#colB-showbooking-wrap{
    float: left;
    width: 30%;
    height: auto;
}

#colC-showbooking-wrap {
    float: left;
    margin-right: 5%;
    width: 30%;
    height: auto;
}

#colA-hiddenbooking-wrap {
    width: 50%;
    height: auto;
}

#colB-hiddenbooking-wrap {
    width: 30%;
    height: auto;
}

#colC-hiddenbooking-wrap {
    width: 20%;
    height: auto;
}

#contentBox-wrap {
    width: 100%;
    height: 100%;
}
