/*
div {
    outline: 1px solid black; 
}
*/
.home-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
}

.topbar-wrap {
    width: 100%;
    height: 5%;
}

.menu-wrap {
    position: absolute;
    width: 100%;
    height: 80%;
}

.bottombar-wrap {
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
}

.booking-wrap-show {
    position: fixed;
    top: 25%;
    right: 0;
    width: 50%;
    height: 50%;
}

.booking-wrap-hide {
    position: fixed;
    top: 25%;
    right: 0;
    width: 5%;
    height: 50%;
}

.contentBox-wrap {
    width: 100%;
    height: 100%;
}